/* Index Page Styles */
@import "@app/app.css";

.hero {
    display: grid;
    gap: 2rem;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: clamp(2.5rem, 6vw, 4rem);
    font-weight: 600;
}

.hero p {
    font-size: 1.125rem;
    color: var(--text-secondary);
    margin: 0 auto;
    max-width: 42ch;
}
